{% extends "default.html" %}
{% block content %}

<div class="container-xl px-4 mt-4">
    <!-- Outer Row -->
    <div class="row">

    <div class="col-xl-8">
        <!-- Account details card-->
        <div class="card mb-4">
            {% comment %} <div class="card-header">Account Details</div> {% endcomment %}
            <div class="card-body">
                <form action="{% url 'category.edit' data.id data.slug %}"  method = 'POST' autocomplete="off">
                    {% csrf_token %}

                    {% for field in form %}
                    
                    <div class="mb-3">
                        <label class="small mb-1">Category Name</label>
                    {{field}}  
                                 
                    </div>
                    {% endfor %}

                    <button class="btn btn-primary" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

</div>

{% endblock content %}
